
 <div class="container">
        <h2>Log In Meal</h2>
      
                <div class>
                  <label>Meal:</label>
                  <div >
                    <input  #MealName>
                  </div>
                </div>
                <div >
                  <label  for="">Description:</label>
                  <div >
                    <input  #MealDesc>
                  </div>
                </div>
                <div >
                  <label  for="">Calories:</label>
                  <div >
                    <input  #MealCalories>
                  </div>
                </div>

                <div >
                  <div >
                    <button (click)="
                    AddClicked(MealName.value, MealDesc.value, MealCalories.value);
                    MealName.value = '';
                    MealDesc.value = '';
                    MealCalories.value = '';
                    " class="btn btn-warning">Add Meal</button>
                  </div>
                </div>
    </div>
    <hr>