  <div class="container">
    
      <h1 style="text-align: center">
        {{title}}!
      </h1>
    

    <div class="row first">
      <div class="col-md-6 ">
        <app-display [childMealList]="MealsList" (clickSender)="showDetails($event)" (delSender)="deleteMeal($event)">
          ></app-display>
          <br>
      </div>
     
      <div class="col-md-6">

          <div class="row">

              <app-add-meal (newMealSender)="addMeal($event)"></app-add-meal>
            </div>

            <div class="row">
          <app-edit-meal [childSelectedMeal]="selectedMeal" (doneClickedSender)="finishedEditing()"></app-edit-meal>
          </div>
        </div>
    </div>
<br>
    <div class="row">
       
          
    </div>


  </div>